@keyframes jump  {
    0% {
        transform: scale(1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }
    40% {
        transform: scale(1.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    }
    100% {
        transform: scale(1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

    }
}
#go-down {
    animation: jump 1s ease-in-out infinite;
}
#go-down:hover {
    animation: none;
}